.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #dbe0e5;
    padding: 36px 45px;
    border-radius: 5px;
    gap: 16px;
}

.login {
    border: none;
    border-bottom: 0.5px solid black;
    background-color: transparent;
    padding: 0 4px;
    outline: none;
}

.login::placeholder {
    text-align: center;
}

.button {
    border: none;
    border-radius: 5px;
    background-color: #3a3e42;
    color: #fff;
    padding: 4px 16px;
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.error {
    color: red;
    font-size: small;
}